# Ignoriere heruntergeladene Datensätze
data/raw/wine_quality_raw.csv
data/wine_quality_processed.csv
model/wine_quality.csv

# Ignore models and plots folders
app/backend/models/*
app/backend/plots/*

!app/backend/models/.gitkeep
!app/backend/plots/.gitkeep

app/backend/*.zip